<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Monitora Assets</div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Home
                </a>

                <div class="sb-sidenav-menu-heading">Management</div>

                <a class="nav-link collapsed" routerLink="/employee" data-toggle="collapse"
                    data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Employees
                </a>

                <a class="nav-link collapsed" routerLink="/asset" data-toggle="collapse" data-target="#collapseLayouts"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Assets
                </a>

                <div class="sb-sidenav-menu-heading">Logout</div>
                <a class="nav-link collapsed" (click)="logout()" href="#" data-toggle="collapse"
                    data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    Logout
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Authenticated Login:</div>
            {{authenticatedLogin}}
        </div>
    </nav>
</div>